<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <h2>Categoria Producto</h2>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Nombre</label>
      <div class="col-sm-10">
        <input class="form-control" id="" placeholder="Nombre">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Descripcion</label>
      <div class="col-sm-10">
        <!-- <input type="textbox"class="form-control" id="" placeholder=""> -->
        <textarea rows="4" cols="50" placeholder="Descripcion" style="resize:none;">
        </textarea>
      </div>
    </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary">Apple</button>
        <button type="button" class="btn btn-primary">Samsung</button>
        <button type="button" class="btn btn-primary">Sony</button>
      </div>

      </form>
    <!-- <div class="form-group has-feedback">
      <label class="col-sm-2 control-label" for="inputSuccess">Input with success and glyphicon</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" >
        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
      </div>
    </div> -->
    <!-- <div class="form-group has-warning has-feedback">
      <label class="col-sm-2 control-label" for="inputWarning">Input with warning and glyphicon</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputWarning">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
      </div>
    </div>
    <div class="form-group has-error has-feedback">
      <label class="col-sm-2 control-label" for="inputError">Input with error and glyphicon</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputError">
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
      </div>
    </div> -->



</div>


<script src='js/jquery-2.1.4.min.js'></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src='js/frmcategoria.js'></script>
</body>
</html>
